.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: aqua;
}
.logo {
    margin: 0 0 0 20px;
}

.logo img{
    width: 50px;
}
.authLogin {
    margin: 0 0 0 30px;
    border: 1px solid red;
}
