.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    font-family: 'Nunito', sans-serif;
    padding: 0 5px;
}

.logo a{
    margin: 0 0 0 20px;
    color: white;
    display: block;
    text-align: left;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
}

.logo img{
    width: 50px;
}
.authLogin {
   color: white;
    margin-right: 5px;
}
.autorizeBlock {
    display: flex;
    align-items: flex-start;
}
.autorizeBlock button {
    border: none;
    background-color: white;
    font-weight: 600;
    color: cornflowerblue;
    border-radius: 8px;
    height: 20px;
    cursor: pointer;
}
.autorizeBlock button:hover {
    color: dimgrey;
}
.autorizeBlock a {
    border: none;
    font-size: 14px;
    text-decoration: none;
    display: block;
    background-color: white;
    font-weight: 600;
    color: cornflowerblue;
    border-radius: 8px;
    height: 20px;
    cursor: pointer;
    padding: 0 10px;
}
.autorizeBlock a:hover {
    color: dimgrey;
}
