.navbar {
    width: 29%;
    padding-top: 10px;
    background-color: snow;
}
.item a{
    font-size: 17px;
    color: #3070ed;
    text-decoration: none;
}
.item a:hover {
    text-decoration: underline;
}

.item a.active{
    color: gold;
}